{% extends 'base.html' %}

{% block app_content %}

    <a class="btn btn-warning home" href="/">На главную</a>
    <div class="counter">{{ counter }}</div>
    <a class="btn btn-info refresh" href="/live">Обновить</a>
    <table class="world">
        {% for i in range(game.world|length) %}
            <tr>
                {% for j in range(game.world[i]|length) %}
                    {% if game.world[i][j] %}
                        <td class="cell living-cell"></td>
                    {% elif game.old_world[i][j] %}
                        <td class="cell dead-cell"></td>
                    {% else %}
                        <td class="cell"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}


{% block scripts %}
    {{super()}}
    <script>
        setInterval( () => window.location.reload(), 1500);
    </script>

{% endblock %}